<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <h6 appChangeText>
    Welcome too {{ title }}!
  </h6> -->
  <h6>
    Welcome to {{ title }}!
  </h6>
  <p>
    Hurrah...!!! date is {{todaydate}} 
  </p>
</div>

<div> Months :
  <select (change)="countrychange($event)" name="month"> 
     <option *ngFor = "let i of months">{{i}}</option> 
  </select>
</div>
<br/>

<div>
  <span *ngIf="isavailable; then condition1 else condition2"></span>
  <ng-template #condition1>Condition is valid</ng-template>
  <ng-template #condition2>Condition is invalid</ng-template>
</div>
<button (click)="buttonclick($event)">Click Me</button>